main img {
	max-width: initial;
	height: initial;
}
.circle-control {
	border-radius: 50%;
	align-items: center;
	background-color: #dedede;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
	height: 300px;
	justify-content: center;
	width: 300px;
}

.circle-control:active {
	transform: translateY(4px) scale(0.95);
}
